@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Oswald:wght@200..700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Barlow", sans-serif;
}

body {
    margin: 0;
    padding: 0;
}

main {
    height: 100vh;
    width: 100vw;
}

.container {
    height: 100%;
    width: 90vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
}

.top {
    width: 90vw;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.top #left {
    color: black;
    font-weight: 600;
}

.top #button {
    font-weight: 600;
    color: white;
    background-color: black;
    padding: 8px 15px;
    border-radius: 5px;
}

.top #carret {
    padding-left: 10px;
}

.top #right {
    font-weight: 600;
    color: black;
}


.row-box-1 {
    width: 100%;
    height: 105px;
    display: flex;
    flex-direction: row;
}

.row-box-2 {
    width: 100%;
    height: 105px;
    display: flex;
    flex-direction: row;
}

.row-box-3 {
    width: 100%;
    height: 105px;
    display: flex;
    flex-direction: row;
}

.row-box-4 {
    width: 100%;
    height: 105px;
    display: flex;
    flex-direction: row;
}

.row-box-1 #box1 {
    background-color: #ff9ff3;
}

.row-box-1 #box2 {
    background-color: #feca57;
}

.row-box-1 #box3 {
    background-color: #ff6b6b;
}

.row-box-1 #box4 {
    background-color: #48dbfb;
}

.row-box-1 #box5 {
    background-color: #1dd1a1;
}

.row-box-2 #box1 {
    background-color: #f368e0;
}

.row-box-2 #box2 {
    background-color: #ff9f43;
}

.row-box-2 #box3 {
    background-color: #ee5253;
}

.row-box-2 #box4 {
    background-color: #0abde3;
}

.row-box-2 #box5 {
    background-color: #10ac84;
}

.row-box-3 #box1 {
    background-color: #00d2d3;
}

.row-box-3 #box2 {
    background-color: #54a0ff;
}

.row-box-3 #box3 {
    background-color: #5f27cd;
}

.row-box-3 #box4 {
    background-color: #c8d6e5;
}

.row-box-3 #box5 {
    background-color: #576574;
}

.row-box-4 #box1 {
    background-color: #01a3a4;
}

.row-box-4 #box2 {
    background-color: #2e86de;
}

.row-box-4 #box3 {
    background-color: #341f97;
}

.row-box-4 #box4 {
    background-color: #8395a7;
}

.row-box-4 #box5 {
    background-color: #222f3e;
}

.box {
    width: 500px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: relative;
}



.box h3 {
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 600;
    color: white;
    padding-right: 5px;
    padding-bottom: 5px;
    position: absolute;
    right: 5px;
    bottom: 0;
}

button {
    width: 50%;
    height: 50%;
    color: transparent;
    background: transparent;
    border: none;
    cursor: pointer;
}

button:hover {
    color: white;
    border: 1px solid white;
    border-radius: 5px;
}

.bottom {
    width: 90vw;
    height: 50px;
    display: flex;
    justify-content: right;
    align-items: center;
    text-align: left;
    color: black;
    font-weight: lighter;
    font-size: small;
    text-transform: capitalize;
}