@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Oswald:wght@200..700&display=swap');

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Barlow", sans-serif;
}

body
{
    margin: 0;
    padding: 0;
}

main
{
    height: 100vh;
    width: 100vw;
}

.container
{
    height: 100%;
    width: 90vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
}

.top
{
    width: 90vw;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.top #left
{
    color: black;
    font-weight: 600;
}

.top #button
{
    font-weight: 600;
    color: white;
    background-color: black;
    padding: 8px 15px;
    border-radius: 5px;
}

.top #carret
{
    padding-left: 10px;
}

.top #right
{
    font-weight: 600;
    color: black;
}


.row-box-1
{
    width: 100%;
    height: 105px;
    display: flex;
    flex-direction: row;
}

.row-box-2 {
    width: 100%;
    height: 105px;
    display: flex;
    flex-direction: row;
}

.row-box-3 {
    width: 100%;
    height: 105px;
    display: flex;
    flex-direction: row;
}

.row-box-4 {
    width: 100%;
    height: 105px;
    display: flex;
    flex-direction: row;
}

.row-box-1 #box1
{
    background-color: #1abc9c;
}

.row-box-1 #box2 {
    background-color: #2ecc71;
}

.row-box-1 #box3{
    background-color: #3498db;
}

.row-box-1 #box4 {
    background-color: #9b59b6;
}

.row-box-1 #box5 {
    background-color: #34495e;
}

.row-box-2 #box1{
    background-color: #16a085;
}

.row-box-2 #box2 {
    background-color: #27ae60;
}

.row-box-2 #box3 {
    background-color: #2980b9;
}

.row-box-2 #box4 {
    background-color: #8e44ad;
}

.row-box-2 #box5 {
    background-color: #2c3e50;
}

.row-box-3 #box1{
    background-color: #f1c40f;
}

.row-box-3 #box2 {
    background-color: #e67e22;
}

.row-box-3 #box3 {
    background-color: #e74c3c;
}

.row-box-3 #box4 {
    background-color: #ecf0f1;
}

.row-box-3 #box5 {
    background-color: #95a5a6;
}

.row-box-4 #box1 {
    background-color: #f39c12;
}

.row-box-4 #box2 {
    background-color: #d35400;
}

.row-box-4 #box3 {
    background-color: #c0392b;
}

.row-box-4 #box4 {
    background-color: #bdc3c7;
}

.row-box-4 #box5 {
    background-color: #7f8c8d;
}

.box
{
    width: 500px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: relative;
}



.box h3
{
   font-size: 15px;
   text-transform: uppercase;
   font-weight: 600;
   color: white;
   padding-right: 5px;
   padding-bottom: 5px;
   position: absolute;
   right: 5px;
   bottom: 0;
}

button
{
    width: 50%;
    height: 50%;
    color: transparent;
    background: transparent;
    border: none;
    cursor: pointer;
}

button:hover
{
    color: white;
    border: 1px solid white;
    border-radius: 5px;
}

.bottom {
    width: 90vw;
    height: 50px;
    display: flex;
    justify-content: right;
    align-items: center;
    text-align: left;
    color: black;
    font-weight: lighter;
    font-size: small;
    text-transform: capitalize;
}


