@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Oswald:wght@200..700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Barlow", sans-serif;
}

body {
    margin: 0;
    padding: 0;
}

main {
    height: 100vh;
    width: 100vw;
}

.container {
    height: 100%;
    width: 90vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
}

.top {
    width: 90vw;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.top #left {
    color: black;
    font-weight: 600;
}

.top #button {
    font-weight: 600;
    color: white;
    background-color: black;
    padding: 8px 15px;
    border-radius: 5px;
}

.top #carret {
    padding-left: 10px;
}

.top #right {
    font-weight: 600;
    color: black;
}


.row-box-1 {
    width: 100%;
    height: 105px;
    display: flex;
    flex-direction: row;
}

.row-box-2 {
    width: 100%;
    height: 105px;
    display: flex;
    flex-direction: row;
}

.row-box-3 {
    width: 100%;
    height: 105px;
    display: flex;
    flex-direction: row;
}

.row-box-4 {
    width: 100%;
    height: 105px;
    display: flex;
    flex-direction: row;
}

.row-box-1 #box1 {
    background-color: #00a8ff;
}

.row-box-1 #box2 {
    background-color: #9c88ff
}

.row-box-1 #box3 {
    background-color: #fbc531;
}

.row-box-1 #box4 {
    background-color: #4cd137;
}

.row-box-1 #box5 {
    background-color: #487eb0;
}

.row-box-2 #box1 {
    background-color: #0097e6;
}

.row-box-2 #box2 {
    background-color: #8c7ae6;
}

.row-box-2 #box3 {
    background-color: #e1b12c;
}

.row-box-2 #box4 {
    background-color: #44bd32;
}

.row-box-2 #box5 {
    background-color: #40739e;
}

.row-box-3 #box1 {
    background-color: #e84118;
}

.row-box-3 #box2 {
    background-color: #f5f6fa;
}

.row-box-3 #box3 {
    background-color: #7f8fa6;
}

.row-box-3 #box4 {
    background-color: #273c75;
}

.row-box-3 #box5 {
    background-color: #353b48;
}

.row-box-4 #box1 {
    background-color: #c23616;
}

.row-box-4 #box2 {
    background-color: #dcdde1;
}

.row-box-4 #box3 {
    background-color: #718093;
}

.row-box-4 #box4 {
    background-color: #192a56;
}

.row-box-4 #box5 {
    background-color: #2f3640;
}

.box {
    width: 500px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: relative;
}



.box h3 {
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 600;
    color: white;
    padding-right: 5px;
    padding-bottom: 5px;
    position: absolute;
    right: 5px;
    bottom: 0;
}

button {
    width: 50%;
    height: 50%;
    color: transparent;
    background: transparent;
    border: none;
    cursor: pointer;
}

button:hover {
    color: white;
    border: 1px solid white;
    border-radius: 5px;
}
.bottom {
    width: 90vw;
    height: 50px;
    display: flex;
    justify-content: right;
    align-items: center;
    text-align: left;
    color: black;
    font-weight: lighter;
    font-size: small;
    text-transform: capitalize;
}

.switch {
    position: relative;
    display: inline-block;
    width: 55px;
    height: 20px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 10px;
    width: 20px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #2196F3;
}

input:focus+.slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 5px;
}

.slider.round:before {
    border-radius: 10%;
}